html {
    display: flex;
    width: auto;
}

body {
    width: 90%;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(211, 211, 211);
}

h3 {
    color: rgb(57, 57, 65);
}

div {
    background-color: rgb(255, 255, 255);
}

input {
    width: 180px;
    height: 30px;
    border: 1px solid rgb(8, 147, 138);
    box-shadow: 1px 1px 3px rgb(8, 147, 138);
    margin-bottom: 4px;
}

button {
    width: 160px;
    height: 30px;
    border: 1px solid rgb(8, 147, 138);
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgb(8, 147, 138);
}

button:hover {
    border: 2px solid rgb(8, 147, 138);
    box-shadow: 0 0 rgb(8, 147, 138);
    letter-spacing: .5px;
}

.formError {
    color: red;
}